.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #282828;
}
.footer__container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left{
    padding-left: 20px;
    flex: 0.3;
    display: flex;
    justify-content: flex-start;
}
.footer__currentTrack *{
    overflow-x: hidden;
    white-space: nowrap;
    width: 10vw;
    text-overflow: ellipsis;
}
.footer__left img{
    width: 50px;
    padding-right: 10px;
}
.footer__left p{
    color: grey;
    padding-top: 2px;
}
.footer__player{
    display: flex;
    flex-direction: column;
    flex: 0.4;
    padding: 0 20vw;
}
.footer__controls{
    display: flex;
    justify-content: space-around;
    color: #b3b3b3;
}
.footer__controls > *:hover{
    color: white;
}
.footer__currentTrackTimer{
    display: flex;
    position: relative;
}
.footer__player hr{
    margin-top: 16px;
    flex: 1;
}
.footer__player span:first-of-type{
    position: absolute;
    top: 40%;
    left: -15%;
}
.footer__player span:last-of-type{
    position: absolute;
    top: 40%;
    right: -15%;
}

.footer__right{
    padding-right: 20px;
    flex: 0.3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #b3b3b3;
}
.footer__right .MuiSvgIcon-root{
    padding-left: 10px;
}
.footer__right .MuiSvgIcon-root:hover{
    color: white;
}
.MuiSlider-thumb::after {
    width: 0;
    height: 0;
}
.footer__volumeSlider{
    color: #1db954 !important;
    min-width: 60px;
    max-width: 100px;
    margin-left: 8px;
}

@media (max-width: 1200px) {
    .footer__player{
        padding: 0 15vw;
    }
}
@media (max-width: 1024px) {
    .footer__player{
        padding: 0 10vw;
    }
}

@media (max-width: 768px) {
    .footer__right, .footer__controls > *:not(.footer__playButton), .footer__currentTrackTimer *:not(hr){
        display: none;
    }
    .footer__currentTrack *{
        width: unset;
    }
    .footer__likeButton{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 88px;
    }
    .footer__playButton{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 32px;
    }
    .footer__likeButton > *{
        font-size: 30px !important;
    }
    .footer__playButton > *{
        font-size: 36px !important;
    }
    .footer__currentTrackTimer{
        position: inherit;
    }
    .footer__currentTrackTimer hr{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }
}

@media (max-width: 500px) {
    .footer__currentTrack{
        max-width: calc(100vw - 220px);
    }
    .footer{
        bottom: 63px;
    }
}