.sidebar{
    width: 14.5em;
    background-color: #040404;
    padding-top: 24px;
    overflow-y: scroll;
    margin-bottom: 90px;
}

.sidebar__logo{
    display: flex;
    margin-left: 24px;
}
.sidebar__logo img{
    height: 40px;
}
.sidebar__logo img:last-of-type{
    height: 30px;
}

.sidebar__links{
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 20px;
}
.sidebar__link{
    display: flex;
    align-items: center;
    color: grey;
    text-decoration: none;
    margin-bottom: 8px;
    padding-bottom: 8px;
    width: 80%;
    transition: color .2s ease-in;
}
.sidebar__link--active, .sidebar__link:hover{
    color: white;
}
.sidebar__link h4{
    padding-left: 10px;
}

.sidebar > hr{
    border: 1px solid #282828;
    width: 80%;
    margin: 10px auto;
}
.sidebar strong{
    margin-left: 24px;
    font-size: .8em;
    letter-spacing: .1em;
}
.sidebar ul{
    margin: 1em 0;
}
.sidebar li{
    list-style: none;
    padding: .3em 22px;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    margin-bottom: .3em;
    color: #a3a3a3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar li:hover{
    color: white;
}

@media (max-width: 768px) {

}
@media (max-width: 500px) {
    .sidebar > *:not(.sidebar__links){
        display: none;
    }
    .sidebar{
        width: 100%;
        height: 64px;
        padding: 0;
        padding-top: 1px;
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
    }
    .sidebar__links{
        flex-direction: row;
        margin: 0;
        padding: 10px 0;
    }
    .sidebar__link{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .sidebar__link h4 {
        padding-left: 0;
    }
}